    <!-- Place this tag where you want the button to render. -->
    <p><a class="github-button" href="https://github.com/philmikejones/geostat_uk/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download from GitHub">Download</a></p>

    <!-- Place this tag where you want the button to render. -->
<!--
    <a class="github-button" href="https://github.com/philmikejones/geostat_uk" data-icon="octicon-star" data-show-count="true" aria-label="Star this repo on GitHub">Star</a>
-->

    <!-- Place this tag where you want the button to render. -->
<!--
    <a class="github-button" href="https://github.com/philmikejones/geostat_uk/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork this repo on GitHub">Fork</a>
-->

<p>&copy; 2018 Phil Mike Jones, Tom Broomhead, and Amber Wilson</p>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
